<%= simple_form_for [:admin, @post], html: {multipart: true} do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="fields">
    <%= f.label :post_type %>
    <%= f.select :post_type,
      Post.post_types.keys.to_a,
      {include_blank: false},
      class: "form-control selectpicker", data: {"live-search": true} %>
  </div>

  <div class="field">
    <%= f.label :category_id %>
    <%= f.select :category_id,
      @categories.collect {|category| [category.name, category.id]},
      {include_blank: false},
      class: "form-control selectpicker", data: {"live-search": true} %>
  </div>

  <div class="field">
    <%= f.input :title, input_html: {class: "form-control"} %>
  </div>

  <div class="field">
    <%= f.input :description, as: :text, input_html: {class: "form-control"} %>
  </div>

  <div class="field">
    <%= f.input :content, as: :ckeditor, input_html: {class: "ckeditor-field"} %>
  </div>

  <div class="field">
    <%= f.input :image, as: :file, input_html: {class: "form-control"} %>
  </div>

  <div class="field">
    <%= f.input :audio, as: :file, input_html: {class: "form-control"} %>
  </div>

  <div class="field">
    <%= f.label :status %><br/>
    <%= f.select :status, Post.statuses.keys.to_a %>
  </div>

  <div class="clearfix"></div>
  <div class="field">
    <%= f.submit t(".save"), class: "btn btn-primary" %>
  </div>

<% end %>
