<h2><%= t ".index_posts" %></h2>
<br/>
<div>
  <%= search_form_for [:admin, @search], class: "form-inline" do |f| %>
    <%= f.text_field :title_cont,
      placeholder: t(".search_title"),
      class: "form-control width_text_field_search" %>
    <%= f.select :category_id, @categories_for_select,
      {include_blank: t(".search_categories")}, class: "form-control" %>
    <%= f.select :user_id_eq, @users_for_select,
      {include_blank: t(".search_users")}, class: "form-control" %>
    <%= f.submit t(".search"),
      class: "btn btn-info margin_left_btn_submit" %>
  <% end %>
</div>
<br/>
<br/>
<div class="table-responsive">
  <table class="table table-hovered">
    <thead>
      <th class="column-title-width">
        <%= sort_link @search, :title, t(".title") %>
      </th>
      <th class="column-created_at-width">
        <%= sort_link @search, :created_at, t(".created_at") %>
      </th>
      <th class="column-status-width"><%= t(".status") %></th>
      <th class="column-action-width"><%= t ".action" %></th>
    </thead>
    <tbody>
      <%= render(partial: "post", collection: @posts, as: :post) || t(".no_post_display") %>
    </tbody>
  </table>
</div>
<%= paginate @posts, theme: "twitter-bootstrap-3",
  pagination_class: "pagination-sm" %>
