<div class="admin-action">
  <ul class="nav nav-tabs">
    <li class="<%= 'active' if params[:action] == 'show' %>">
      <a data-toggle="tab" href="#category-show"><%= t ".show" %></a>
    </li>
    <li class="<%= 'active' if params[:action] == 'update' %>">
      <a data-toggle="tab" href="#category-edit"><%= t ".edit" %></a>
    </li>
  </ul>
  <div class="clearfix"></div>
  <div class="tab-content">
    <div id="category-show"
      class="tab-pane fade <%= 'in active' if params[:action] == 'show' %>">
      <h3><%= @category.name %></h3>
    </div>
    <div id="category-edit"
      class="tab-pane fade <%= 'in active' if params[:action] == 'update' %>">
      <h3><%= t ".edit" + @category.name %></h3>
      <div class="category-form">
        <%= simple_form_for [:admin, @category] do |f| %>
          <%= f.error_notification %>
          <%= f.input :name, input_html: {class: "form-control"} %>
          <%= f.input :description, as: :text, input_html: {class: "form-control"} %>
          <%= f.label :parent_id, t(".category_parent") %>
          <select class="selectpicker" data-size="9" data-live-search="true"
            name="category[parent_id]" id="category_parent_id">
            <option value=""><%= t ".parent" %></option>
            <%= render "select_category", categories: @parent_categories %>
          </select>
          <br>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
