<div class="row">
  <div id="wrapper-body">
    <div id="main-app" class="col-md-8 col-xs-12">
      <div class="show-post" data-post="<%= @post.id %>">
        <div class="post-body">
          <span class="title">
            <%= @post.title %>
          </span>
          <div class="info">
            <div class="author">
              <i class="fa fa-user"></i>
              &nbsp<%= t ".author" %>: <%= @post.user.name if @post.user %>
            </div>
            <div class="time">
              <i class="fa fa-clock-o"></i>
              <span>
                &nbsp<%= @post.updated_at.strftime Settings.time_format.normal %>
              </span>
            </div>
            <%= social_share_button_tag @post.title, url: "lvh.me:3000/posts/#{@post.id}",
              image: "lvh.me:3000#{@post.image.url}" %>
          </div>

          <% if @post.audio? %>
            <div class="audio-of-post">
                <audio src="<%= @post.audio %>" controls>
                  <p><%= t ".not_support" %></p>
                </audio>
            </div>
          <% end %>

          <div class="description">
            <strong><%= @post.description %></strong>
          </div>

          <div class="center">***</div>

          <div class="content">
            <%= @post.content.html_safe %>
          </div>

          <% if user_signed_in? %>
            <div class="evaluate">
              <% if current_user.like? @post %>
                <a href="" type="button" class="btn btn-xs btn-like liked">
                  <i class="glyphicon glyphicon-thumbs-up"></i>
                  <span id="post_likes"><%= t ".liked" %> (<%= @total_like %>)</span>
                </a>
              <% else %>
                <a href="" type="button" class="btn btn-xs btn-like">
                  <i class="glyphicon glyphicon-thumbs-up"></i>
                  <span id="post_likes"><%= t".like" %> (<%= @total_like %>)</span>
                </a>
              <% end %>
            </div>
          <% end %>
          <div class="share">
            <%= social_share_button_tag @post.title, url: "lvh.me:3000/posts/#{@post.id}",
              image: "lvh.me:3000#{@post.image.url}" %>
          </div>
          <div class="comment">
            <div id="fb-root"></div>
            <div class="fb-comments" data-href="<%= request.original_url %>"
              data-width="100%" data-numposts="5"></div>
          </div>
        </div>
      </div>
  </div>
</div>
