<div class="admin-action">
  <ul class="nav nav-tabs">
    <li class="<%= 'active' if params[:action] == 'index' %>">
      <a data-toggle="tab" href="#advertisment-index">
        <i class="glyphicon glyphicon-th-list"></i>
        <%= t ".index" %>
      </a>
    </li>
    <li class="<%= 'active' if params[:action] == 'create' %>">
      <a data-toggle="tab" href="#advertisment-new">
        <i class="glyphicon glyphicon-plus"></i>
        <%= t ".new" %>
      </a>
    </li>
  </ul>
  <div class="clearfix"></div>
  <div class="tab-content">
    <div id="advertisment-index"
      class="tab-pane fade <%= 'in active' if params[:action] == 'index' %>">
      <h3><%= t ".all_advertisments" %></h3>
      <div class="search">
        <%= search_form_for [:admin, @search], class: "form-inline" do |f| %>
          <%= f.text_field :description_cont, placeholder: t(".search_description"),
            class: "form-control" %>
          <%= f.text_field :url_cont, placeholder: t(".search_url"),
            class: "form-control" %>
          <%= f.submit t(".submit_search"),
            class: "btn btn-info" %>
        <% end %>
      </div>
      <%= form_tag admin_destroy_multi_advertisment_path,
        method: :delete, data: {confirm: t(".are_you_sure")},
        id: "formDeleteMultipleAdvertisment" do %>
        <div class="pull-right">
          <%= submit_tag t(".delete_selected"),
            class: "btn btn-primary btn-delete-advertisments" %>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th class="index"><%= t ".index" %></th>
              <th class="description"><%= t ".description" %></th>
              <th class="url"><%= t ".url" %></th>
              <th class="action"><%= t ".action"%></th>
              <th>
                <input type="checkbox" id="selectAll" value="selectAll">
              </th>
            </tr>
          </thead>
          <tbody>
            <% @advertisments.each_with_index do |advertisment, index| %>
              <tr>
                <td>
                  <%= index_for @advertisments,
                    index, Settings.admin.advertisments.per_page %>
                </td>
                <td><%= link_to advertisment.description, [:admin, advertisment] %></td>
                <td><%= link_to advertisment.url, [:admin, advertisment] %></td>
                <td>
                  <%= link_to "#" do %>
                    <span class="glyphicon glyphicon-info-sign"></span>
                  <% end %>
                  <%= link_to "#" do %>
                    <span class="glyphicon glyphicon-pencil"></span>
                  <% end %>
                  <%= link_to [:admin, advertisment], method: :delete,
                    data: {confirm: t(".delete_confirm")} do %>
                    <span class="glyphicon glyphicon-trash"></span>
                  <% end %>
                </td>
                <td><%= check_box_tag "advertisment_ids[]", advertisment.id,
                  false, class: "advertisment_ids_" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @advertisments, theme: "twitter-bootstrap-3",
          pagination_class: "pagination-sm" %>
      <% end %>
    </div>
    <div id="advertisment-new"
      class="tab-pane fade <%= 'in active' if params[:action] == 'create' %>">
      <h3><%= t ".new_advertisment" %></h3>
      <div class="advertisment-form">
        <%= simple_form_for [:admin, @advertisment] do |f| %>
          <%= f.error_notification %>
          <%= f.input :description, as: :text,
            input_html: {class: "form-control"} %>
          <%= f.input :url, as: :text,
            input_html: {class: "form-control"} %>
          <%= f.input :image, as: :file,
            input_html: {class: "form-control"} %>
          <br>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
