<div class="row">
  <div class="col-xs-12">
    <ul class="nav nav-tabs">
      <li class="<%= 'active' if params[:action] == 'show' %>">
        <a data-toggle="tab" href="#advertisment-show">
          <i class="glyphicon glyphicon-info-sign"></i>
          <%= t ".show" %>
        </a>
      </li>
      <li class="<%= 'active' if params[:action] == 'update' %>">
        <a data-toggle="tab" href="#advertisment-edit">
          <i class="glyphicon glyphicon-pencil"></i>
          <%= t ".edit" %>
        </a>
      </li>
    </ul>

    <div class="clearfix"></div>
    <div class="box">
      <div class="box-body">
        <div class="tab-content">
          <div id="advertisment-show"
            class="tab-pane fade <%= 'in active' if params[:action] == 'show' %>">
            <h3><%= @advertisment.description %></h3>
            <h3><%= @advertisment.url %></h3>
            <%= image_tag @advertisment.image, class: "img-responsive image-ad" %>
          </div>
          <div id="advertisment-edit"
            class="tab-pane fade <%= 'in active' if params[:action] == 'update' %>">
            <h3><%= t ".edit" + @advertisment.description %></h3>
            <div class="advertisment-form">
              <%= simple_form_for [:admin, @advertisment] do |f| %>
                <%= f.error_notification %>
                <%= f.input :description, as: :text, input_html: {class: "form-control"} %>
                <%= f.input :url, as: :text, input_html: {class: "form-control"} %>
                <%= f.input :image, as: :file, input_html: {class: "form-control"} %>
                <br>
                <%= f.button :submit, class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
