<header class="main-header">
  <a href="/" class="logo">
  <span class="logo-lg"><%= t ".admin_panel" %></span></a>
  <nav class="navbar navbar-static-top" role="navigation">
    <a href="javascript:void(0)" class="sidebar-toggle" data-toggle="offcanvas" role="button">
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img class="user-image">
              <span class="hidden-xs"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <img class="img-circle">

                <p>
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat"><%= t ".profile" %></a>
                </div>
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat"><%= t ".sign_out" %></a>
                </div>
              </li>
            </ul>
          </li>
      </ul>
    </div>
  </nav>
</header>

  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu">
          <li>
            <%= link_to admin_users_path do %>
              <i class="fa fa-user"></i>
              <span><%= t ".users" %>
              </span>
            <% end %>
          </li>
          <li id="evaluations-header" class="treeview">
            <a href="javascript:void(0)">
              <i class="fa fa-newspaper-o"></i><span><%= t ".posts" %></span>
              <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li>
                 <a href=""><i class="fa fa-tags"></i><span><%= t ".pending_post" %></span></a>
              </li>
              <li>
                 <a href=""><i class="fa fa-tags"></i><span><%= t ".manage posts" %></span></a>
              </li>
            </ul>
          </li>
          <li>
            <a href=""><i class="fa fa-heart-o"></i><span><%= t ".confesstions" %></span></a>
          </li>
          <li id="evaluations-header" class="treeview">
            <a href="javascript:void(0)">
              <i class="fa fa-cubes"></i><span><%= t ".categories" %></span>
              <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <% @categories_parent_master.each do |category| %>
                <li>
                  <a href=""><i class="fa fa-cube"></i><span><%= category.name %></span></a>
                </li>
              <% end %>
            </ul>
          </li>
      </ul>
    </section>
  </aside>
