<header class="main-header">
  <a href="/" class="logo">
  <span class="logo-lg"><%= t ".admin_panel" %></span></a>
  <nav class="navbar navbar-static-top" role="navigation">
    <a href="javascript:void(0)" class="sidebar-toggle" data-toggle="offcanvas" role="button">
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= image_tag "current_user.png", class: "user-image" %>
              <span class="hidden-xs"><%= t ".admin" %></span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <%= image_tag "current_user.png", class: "img-circle" %>

                <p>
                  <%= t ".admin" %>
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat"><%= t ".profile" %></a>
                </div>
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat"><%= t ".sign_out" %></a>
                </div>
              </li>
            </ul>
          </li>
      </ul>
    </div>
  </nav>
</header>

  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu">
        <li>
          <%= link_to "/admin" do %>
            <i class="fa fa-tachometer"></i>
            <span><%= t ".dashboard" %>
            </span>
          <% end %>
        </li>
        <li>
          <%= link_to admin_users_path do %>
            <i class="fa fa-user"></i>
            <span><%= t ".users" %>
            </span>
          <% end %>
        </li>
        <li>
          <%= link_to admin_posts_path do %>
            <i class="fa fa-newspaper-o"></i><span><%= t ".manage posts" %>
          <% end %>
        </li>
        <li>
          <%= link_to admin_confessions_path do %>
            <i class="fa fa-heart-o"></i><span><%= t ".confesstions" %></span>
          <% end %>
        </li>
        <li>
          <%= link_to admin_categories_path do %>
            <i class="fa fa-cubes"></i><span><%= t ".categories" %></span>
          <% end %>
        </li>
        <li>
          <%= link_to admin_advertisments_path do %>
            <i class="fa fa-usd"></i>
            <span><%= t ".advertisments" %></span>
          <% end %>
        </li>
      </ul>
    </section>
  </aside>
