<nav id="navbar-user" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#"><%= t "layouts.home" %></a></li>
        <% @category_roots.each do |category| %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <%= category.name %><span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href=""><%= category.name %></a></li>
              <% category.children.each do |children| %>
                <li><a href="#"><%= children.name %></a></li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">
          <span class="glyphicon glyphicon-user"></span><%= t "layouts.sign_up" %>
        </a></li>
        <li><a href="#">
          <span class="glyphicon glyphicon-log-in"></span><%= t "layouts.log_in" %>
        </a></li>
      </ul>
    </div>
  </div>
</nav>
