<nav class="navbar navbar-default navbar-fixed-top nav-mos" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav navbar nav-framgia">
      <li class="item-menu img-home">
        <div class="navbar-header">
          <%= link_to root_url do %>
            <div class="img-responsive">
              <%= image_tag("home.png", size: "50x50") %>
            </div>
          <% end %>
        </div>
      </li>
      <li class="item-menu li-rdo-ol">
        <%= link_to t(".RADIO_ONLINE"), "#" %>
      </li>
      <li class="item-menu li-bl-ct">
        <%= link_to t(".BLOG_CUA_TOI"),"#" %>
      </li>
      <li class="item-menu li-bl-cs">
        <%= link_to t(".BLOG_CUOC_SONG"), "#" %>
      </li>
      <li class="item-menu li-sk">
        <%= link_to t(".SU_KIEN"),"#" %>
      </li>
      <li class="item-menu li-gb">
        <%= link_to t(".GUI_BAI"), "#" %>
      </li>
    </ul>
  </div>
</nav>
