<!DOCTYPE html>
<html>
<head>
  <title><%= full_title yield(:title) %></title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track": true %>
  <%= javascript_include_tag "application", "data-turbolinks-track": true %>
</head>
<body id="body-user">
  <div id="wrapper">
    <%= render "layouts/header" %>
    <%= render "layouts/navbar" %>
    <div class="clearfix"></div>
    <div id="main_content">
        <div class="wrapper_container">
          <div class="message">
            <% flash.each do |message_type, message| %>
              <%= content_tag :div, message, class: "alert alert-#{message_type}" %>
            <% end %>
          </div>
          <%= render "layouts/leftcontent" %>
          <%= render "layouts/rightcontent" %>
          <div class="clearfix"></div>
          <%= render "layouts/footer"%>
        </div>
      </div>
  </div>
</body>

</html>
