<!DOCTYPE html>
<html>
<head>
  <title><%= full_title yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track": true %>
  <%= javascript_include_tag "application", "data-turbolinks-track": true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
</head>
<body>
  <%= render "layouts/navbar" %>
  <div class="clearfix"></div>
  <div class="message">
    <% flash.each do |message_type, message| %>
      <%= content_tag :div, message, class: "alert alert-#{message_type}" %>
    <% end %>
  </div>
  <div class="clearfix"></div>
  <%= render "layouts/leftcontent" %>
</body>
</html>
