<!DOCTYPE html>
<html>
<head>
  <title><%= full_title yield(:title) %></title>
  <%= favicon_link_tag "title-icon.png" %>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track": true %>
  <%= javascript_include_tag "application", "data-turbolinks-track": true %>
</head>
  <body id="body-user">
    <div  id="banner">
      <div class="container">
        <div class="row">
          <div id="logo" class="col-md-3">
            <%= image_tag "icon.png", class: "img-responsive" %>
          </div>
          <div class="col-md-5" id="slogan">
            <%= image_tag "slogan.png" %>
          </div>
          <div class="col-md-4" id="icon">
            <%= image_tag "xe_dap.jpg", class: "img-responsive" %>
          </div>
        </div>
      </div>
    </div>
    <%= render "layouts/modal_login" %>
    <%= render "layouts/modal_signup" %>
    <%= render "layouts/navbar" %>
    <div id="wrapper">
      <div class="container">
        <div class="message">
          <% flash.each do |message_type, message| %>
            <%= content_tag :div, message, class: "alert alert-#{message_type}" %>
          <% end %>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
